.Header-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.Header-innerRight {
    align-items: flex-end;
    display: flex;
}
.Comp-title{
    margin: 0;
    font-weight: 500;
}